@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Lexend', sans-serif;
}
body {
  background-color:#D9D9D9;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track{
  background-color: #c3c4c3;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #166349;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #093d32;
}